
#markdown-toc {
  background-color: #d9edf7;
  margin: auto;
  padding: 15px;
}

#markdown-toc li {
  list-style-type: none;
}

.vlf-site-header {
  margin: 10px 0 10px 0;
  min-height: 56px;
  position: relative;
}

.vlf-title {
  margin: 0 30px 0 30px;
}

// 修改bootstrap默认的样式
//.navbar-default {
//  background-color: #90D5F8;
//  border-color: #456777;
//}
//
//
//.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
//  color: #F8F6C1;
//  background-color: #456777;
//}